<div class="login-page animate">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/images/flat-avatar.png" class="user-avatar" />
			<h1>Ranting!!  <small> Code Fest 2018 </small></h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="my rant">
					</div>
				</div>
				<a class="btn rounded-btn" [routerLink]="['dashboard', 'home']"> Rant </a>
			</form>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-6 ">
				<div class="card">
					<div class="card-header card-primary card-inverse">
						<span class="card-title">Jumbotron</span>
					</div>
					<div class="card-block">
						<!-- Main jumbotron for a primary marketing message or call to action -->
								<div class="jumbotron m-b-0">
										<h1>Hello, world!</h1>
										<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
										<p><a href="javascript:;" class="btn btn-primary btn-sm" role="button">like</a>
										</p>
								</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
